<div id="boxes_dash">
  <div class="row">
      <div class="col-md-4">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>12</h3>
            <p>Total Qustions</p>
          </div>
          <div class="icon">
            <i class="fa fa-question-circle"></i>
          </div>
          <a href="#" class="small-box-footer">
            Correct Answers <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>10</h3>
            <p>Correct Answers</p>
          </div>
          <div class="icon">
            <i class="fa fa-check-square-o"></i>
          </div>
          <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>
            <p>New Orders</p>
          </div>
          <div class="icon">
            <i class="fa fa-check-square-o"></i>
          </div>
          <a href="#" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
  </div>
</div>
<div class="chart">
  <div id="chartContainer" style="height: 300px; width: 100%;"></div> 
</div>
