<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
 
    <mat-form-field>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
  
        <p>Your choosen name: {{ myForm.get('name').value }}</p>
        <input formControlName="name" placeholder="Your name">
      
        
        <div *ngIf="myForm.get('name').hasError('required')">
          Oops, please provide a name!
        </div>
      
        <input formControlName="city" placeholder="Your city">
      
        <div *ngIf="myForm.get('city').hasError('required')">
          Oops, wrong pattern buddy!
        </div>
      
       
        
        <button type="submit" [disabled]="myForm.invalid">
          Send
        </button>
      </form>
      
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>